
/*Padding and color for the Promo Bar*/
.promoBar{
  padding: 0;
  margin: 0;
  background-color: black;
}
/*White text and padding for the text*/
.promoBar h3{
  color: white;
  margin: 0vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}
/* Gray bar padding and height */
.bar{
  padding: 0;
  margin: 0;
  height: 7vh;
  background-color: gainsboro;
}
.bar h3{
  color: white;
  margin: 0vh;
  text-align: center;
}

.site-logo{
  float:left;
  height: 12vh;
}

.navLinks{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: flex-end;
}

.navLinks li{
  margin-right: 10px;
  display: inline;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    margin: 30px 5px;
  }
  
  .container div{
    margin: 5px;
    justify-content: center;
    align-items: center;
  }

  .site-branding{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .BoxImage{
    
  }

  .BoxText{

  }

  .flexy > div{
    margin: 10px;
    padding: 15px;
  
  }

  
  @media only screen and (device-width: 991px) {
      /* For general iPad layouts */
    }

     
  @media only screen and (max-width: 991px) {
      .container{
        flex-wrap: wrap;
        margin: 30px 5px;
      }
    }


    
    
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
    }
    
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
    }
  